<div class="col-md-4 content">
    <p>card works!</p>
    <div>
        id: {{card.id}}
    </div>
    <div>
        name:{{card.name}}
    </div>
    <div>
        description:{{card.description}}
    </div>
    <div>
        status:{{card.status}}
    </div>
    <div>
        priority:{{card.priority}}
    </div>
    <div>
        color:{{card.color}}
    </div>
    <div>
        date:{{card.date}}
    </div>
</div>

<div class="card col-md-4">
    <div class="card-body">
      <h5 class="card-title">{{card.name}}</h5>
      <div class="card-text" [formGroup]="cardFrom">

        <mat-form-field>
            <mat-label>Description</mat-label>
            <input matInput placeholder="placeholder" formControlName="name">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Status</mat-label>
            <input matInput placeholder="placeholder">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Priority</mat-label>
            <input matInput placeholder="placeholder">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Color</mat-label>
            <input matInput placeholder="placeholder">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Date</mat-label>
            <input matInput placeholder="placeholder">
        </mat-form-field>

      </div>
    </div>
</div>