<div class="card col-md-4">
    <div class="card-body">
      <div class="card-text" [formGroup]="cardFrom">

        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput  formControlName="name">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Description</mat-label>
            <input matInput  formControlName="description">
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Priority</mat-label>
            <input matInput  formControlName="priority">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Color</mat-label>
            <input matInput  formControlName="color">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Date</mat-label>
            <input matInput  formControlName="date">
        </mat-form-field>

        <mat-checkbox formControlName="status">Is done</mat-checkbox>

    </div>
    <div class="float-right">
        <button mat-raised-button color="primary" (click)="save()">Save</button>
        <button mat-raised-button (click)="cancel()">Cancel</button>
    </div>

    </div>
</div>